<nav id="top">
  <div class="container">
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li>Minimum order value is greater than Rs. 1000</li>
        <li>
          <a href="#"><i class="fa fa-phone"></i></a>
          <span class="d-none d-md-none d-lg-inline d-xl-inline"> 9821236048 </span>
        </li>
        <li class="dropdown">
          <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            <span class="d-none d-md-none d-lg-inline d-xl-inline"> My Account </span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </li>
        <li>
          <a href="#" id="wishlist-total" title="Wish List (0)">
          <i class="fa fa-heart"></i>
          <span class="d-none d-md-none d-lg-inline d-xl-inline"> Wish List (0) </span>
          </a>
        </li>
        <li>
          <a href="#" title="Shopping Cart">
            <i class="fa fa-shopping-cart"></i>
            <span class="d-none d-md-none d-lg-inline d-xl-inline"> Shopping Cart </span>
          </a>
        </li>
        <li>
          <a href="#" title="Checkout">
            <i class="fa fa-share"></i>
            <span class="d-none d-md-none d-lg-inline d-xl-inline"> Checkout </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
